target/classes/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5996b65b-9248-490d-8ca3-03bfcdf76262" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="d3c2e63a-1485-4590-89a5-dfaf757d0abf" >
		<http:listener doc:name="Listener" doc:id="a8ca524e-9930-4a10-924a-a6c70f7dcdae" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["HELLO!IC"]' doc:name="Set Payload" doc:id="55b4947d-490a-4acc-a1d9-7d20884811c4" />
	</flow>
</mule>
